/* BUG FIX OVERLAY */

.twitter-typeahead .tt-hint {
    display: block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}

.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

/* WIDTH = 100% */

.twitter-typeahead {
	width: 100%; 
}

.tt-dropdown-menu {
	width: 100%;
	background: white;
}

.tt-hint {
    width: 100%;
}

.tt-suggestion {
    display: block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
    white-space:nowrap;
}

.tt-sugestion p {
	white-space: nowrap;
}